In [1]:
# Import dependencies
import pandas as pd
from pprint import pprint

# HR ANALYSIS

In [2]:
# Load data
path = './resources/hr_analysis_aug_train.csv'

hr_df = pd.read_csv(path)

In [3]:
# View data
hr_df

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

### Features

1. `enrollee_id :` Unique ID for candidate

2. `city :` City code

3. `city_development_index :` Developement index of the city (scaled)

4. `gender :` Gender of candidate

5. `relevent_experience :` Relevant experience of candidate

6. `enrolled_university :` Type of University course enrolled if any

7. `education_level :` Education level of candidate

8. `major_discipline :` Education major discipline of candidate

9. `experience :` Candidate total experience in years

10. `company_size :` No of employees in current employer's company

11. `company_type :` Type of current employer

12. `last_new_job :` Difference in years between previous job and current job

13. `training_hours :` training hours completed

14. `target :` 0 â€“ Not looking for job change, 1 â€“ Looking for a job change

In [4]:
# View data information
print(hr_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
enrollee_id               19158 non-null int64
city                      19158 non-null object
city_development_index    19158 non-null float64
gender                    14650 non-null object
relevent_experience       19158 non-null object
enrolled_university       18772 non-null object
education_level           18698 non-null object
major_discipline          16345 non-null object
experience                19093 non-null object
company_size              13220 non-null object
company_type              13018 non-null object
last_new_job              18735 non-null object
training_hours            19158 non-null int64
target                    19158 non-null float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB
None

In [5]:
# Print null value counts for each column
print(hr_df.isnull().sum())
print(hr_df.shape)

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
target                       0
dtype: int64
(19158, 14)

In [6]:
# Drop rows with all nan values
dropped_nan_rows = hr_df.dropna(how='all')

In [7]:
# View dropped rows
print(dropped_nan_rows.isnull().sum())
print(dropped_nan_rows.shape)

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
target                       0
dtype: int64
(19158, 14)

In [8]:
# Drop rows with nan values from selected columns
dropped_rows = hr_df.dropna(subset=['enrolled_university', 
                                     'education_level',
                                     'experience',
                                     'last_new_job'
                                    ])

In [9]:
# View dropped rows
print(dropped_rows.isnull().sum())
print(dropped_rows.shape)

enrollee_id                  0
city                         0
city_development_index       0
gender                    3863
relevent_experience          0
enrolled_university          0
education_level              0
major_discipline          2222
experience                   0
company_size              5310
company_type              5476
last_new_job                 0
training_hours               0
target                       0
dtype: int64
(18014, 14)

In [10]:
# Create a copy of the dropped_rows
dropped_df = dropped_rows.copy()

## Impute missing values with Datawig
* https://github.com/awslabs/datawig
* https://towardsdatascience.com/imputation-of-missing-data-in-tables-with-datawig-2d7ab327ece2

In [11]:
# Import dependencies
import numpy as np
import datawig
from datawig.utils import random_split
from datawig import SimpleImputer

# Perform train-test split (Default is 80/20 split)
df_train, df_test = random_split(dropped_df, split_ratios=[0.8, 0.2])

# Randomly hide 25% of cells in test dataframe
hide_proportion = 0.25
df_test_missing = df_test.mask(np.random.rand(*df_test.shape) > (1 - hide_proportion))

In [12]:
# Define columns with useful info for to-be-imputed column
input_cols = ['city',
              'city_development_index',
              'company_size', 
              'relevent_experience',
              'enrolled_university', 
              'education_level', 
              'experience',
              'last_new_job',
              'training_hours'
             ]

# Define columns to be imputed
output_col_gen = 'gender'
output_col_major = 'major_discipline'
output_col_comp_size = 'company_size'
output_col_comp_type = 'company_type'

# Initialize a SimpleImputer model for categorical imputation
imputer_gen = datawig.SimpleImputer(
    input_columns = input_cols, # column(s) containing information about the column we want to impute
    output_column = output_col_gen, # the column we'd like to impute values for
    output_path =  'imputer_gen' # stores model data and metrics
    )

imputer_major = datawig.SimpleImputer(
    input_columns = input_cols,
    output_column = output_col_major,
    output_path =  'imputer_major'
    )

imputer_comp_size = datawig.SimpleImputer(
    input_columns = input_cols, 
    output_column = output_col_comp_size, 
    output_path =  'imputer_comp_size'
    )

imputer_comp_type = datawig.SimpleImputer(
    input_columns = input_cols, 
    output_column = output_col_comp_type, 
    output_path =  'imputer_comp_type' 
    )

In [13]:
#Fit an imputer model on the train data
imputer_gen.fit(train_df=df_train, num_epochs=50)
imputer_major.fit(train_df=df_train, num_epochs=50)
imputer_comp_size.fit(train_df=df_train, num_epochs=50)
imputer_comp_type.fit(train_df=df_train, num_epochs=50)

/Users/ronaldlam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
[23:38:54] src/operator/random/../../common/utils.h:450:
Storage type fallback detected:
operator = Concat
input storage types = [csr, default, ]
output storage types = [default, ]
params = {"num_args" : 2, "dim" : 1, }
context.dev_mask = cpu
The operator with default storage type will be dispatched for execution. You're seeing this warning message because the operator above is unable to process the given ndarrays with specified storage types, context and parameter. Temporary dense ndarrays are generated in order to execute the operator. This does not affect the correctness of the programme. You can set environment variable MXNET_STORAGE_FALLBACK_LOG_VERBOSE to 0 to suppress this warning.
2023-06-04 23:38:54,702 [INFO]
========== start: fit model
2023-06-04 23:38:54,703 [WARNING]  Already bound, ignoring bind()
2023-06-04 23:38:56,861 [INFO]  Epoch[0] Batch [0-320]	Speed: 2385.33 samples/sec	cross-entropy=0.350613	gender-accuracy=0.909073
2023-06-04 23:38:59,001 [INFO]  Epoch[0] Train-cross-entropy=0.345904
2023-06-04 23:38:59,001 [INFO]  Epoch[0] Train-gender-accuracy=0.903854
2023-06-04 23:38:59,002 [INFO]  Epoch[0] Time cost=4.297
2023-06-04 23:38:59,008 [INFO]  Saved checkpoint to "imputer_gen/model-0000.params"
2023-06-04 23:38:59,410 [INFO]  Epoch[0] Validation-cross-entropy=0.353308
2023-06-04 23:38:59,411 [INFO]  Epoch[0] Validation-gender-accuracy=0.894643
2023-06-04 23:39:01,636 [INFO]  Epoch[1] Batch [0-320]	Speed: 2309.53 samples/sec	cross-entropy=0.318090	gender-accuracy=0.909073
2023-06-04 23:39:03,781 [INFO]  Epoch[1] Train-cross-entropy=0.325231
2023-06-04 23:39:03,782 [INFO]  Epoch[1] Train-gender-accuracy=0.903951
2023-06-04 23:39:03,783 [INFO]  Epoch[1] Time cost=4.371
2023-06-04 23:39:03,788 [INFO]  Saved checkpoint to "imputer_gen/model-0001.params"
2023-06-04 23:39:04,197 [INFO]  Epoch[1] Validation-cross-entropy=0.342586
2023-06-04 23:39:04,198 [INFO]  Epoch[1] Validation-gender-accuracy=0.894643
2023-06-04 23:39:06,366 [INFO]  Epoch[2] Batch [0-320]	Speed: 2371.81 samples/sec	cross-entropy=0.313146	gender-accuracy=0.909073
2023-06-04 23:39:08,612 [INFO]  Epoch[2] Train-cross-entropy=0.320715
2023-06-04 23:39:08,612 [INFO]  Epoch[2] Train-gender-accuracy=0.903951
2023-06-04 23:39:08,613 [INFO]  Epoch[2] Time cost=4.414
2023-06-04 23:39:08,617 [INFO]  Saved checkpoint to "imputer_gen/model-0002.params"
2023-06-04 23:39:09,025 [INFO]  Epoch[2] Validation-cross-entropy=0.340290
2023-06-04 23:39:09,026 [INFO]  Epoch[2] Validation-gender-accuracy=0.894643
2023-06-04 23:39:11,288 [INFO]  Epoch[3] Batch [0-320]	Speed: 2270.83 samples/sec	cross-entropy=0.310962	gender-accuracy=0.909073
2023-06-04 23:39:13,462 [INFO]  Epoch[3] Train-cross-entropy=0.318475
2023-06-04 23:39:13,463 [INFO]  Epoch[3] Train-gender-accuracy=0.903951
2023-06-04 23:39:13,464 [INFO]  Epoch[3] Time cost=4.437
2023-06-04 23:39:13,468 [INFO]  Saved checkpoint to "imputer_gen/model-0003.params"
2023-06-04 23:39:13,880 [INFO]  Epoch[3] Validation-cross-entropy=0.338739
2023-06-04 23:39:13,881 [INFO]  Epoch[3] Validation-gender-accuracy=0.894643
2023-06-04 23:39:16,153 [INFO]  Epoch[4] Batch [0-320]	Speed: 2262.40 samples/sec	cross-entropy=0.309661	gender-accuracy=0.909073
2023-06-04 23:39:18,303 [INFO]  Epoch[4] Train-cross-entropy=0.317071
2023-06-04 23:39:18,303 [INFO]  Epoch[4] Train-gender-accuracy=0.903951
2023-06-04 23:39:18,304 [INFO]  Epoch[4] Time cost=4.422
2023-06-04 23:39:18,309 [INFO]  Saved checkpoint to "imputer_gen/model-0004.params"
2023-06-04 23:39:18,716 [INFO]  Epoch[4] Validation-cross-entropy=0.337818
2023-06-04 23:39:18,716 [INFO]  Epoch[4] Validation-gender-accuracy=0.894643
2023-06-04 23:39:20,890 [INFO]  Epoch[5] Batch [0-320]	Speed: 2364.14 samples/sec	cross-entropy=0.308666	gender-accuracy=0.909073
2023-06-04 23:39:23,113 [INFO]  Epoch[5] Train-cross-entropy=0.316026
2023-06-04 23:39:23,114 [INFO]  Epoch[5] Train-gender-accuracy=0.903951
2023-06-04 23:39:23,115 [INFO]  Epoch[5] Time cost=4.398
2023-06-04 23:39:23,120 [INFO]  Saved checkpoint to "imputer_gen/model-0005.params"
2023-06-04 23:39:23,532 [INFO]  Epoch[5] Validation-cross-entropy=0.337241
2023-06-04 23:39:23,532 [INFO]  Epoch[5] Validation-gender-accuracy=0.894643
2023-06-04 23:39:25,764 [INFO]  Epoch[6] Batch [0-320]	Speed: 2303.74 samples/sec	cross-entropy=0.307877	gender-accuracy=0.909073
2023-06-04 23:39:27,896 [INFO]  Epoch[6] Train-cross-entropy=0.315203
2023-06-04 23:39:27,896 [INFO]  Epoch[6] Train-gender-accuracy=0.903951
2023-06-04 23:39:27,897 [INFO]  Epoch[6] Time cost=4.364
2023-06-04 23:39:27,902 [INFO]  Saved checkpoint to "imputer_gen/model-0006.params"
2023-06-04 23:39:28,311 [INFO]  Epoch[6] Validation-cross-entropy=0.336871
2023-06-04 23:39:28,312 [INFO]  Epoch[6] Validation-gender-accuracy=0.894643
2023-06-04 23:39:30,489 [INFO]  Epoch[7] Batch [0-320]	Speed: 2361.29 samples/sec	cross-entropy=0.307211	gender-accuracy=0.909073
2023-06-04 23:39:32,644 [INFO]  Epoch[7] Train-cross-entropy=0.314501
2023-06-04 23:39:32,645 [INFO]  Epoch[7] Train-gender-accuracy=0.903951
2023-06-04 23:39:32,646 [INFO]  Epoch[7] Time cost=4.333
2023-06-04 23:39:32,651 [INFO]  Saved checkpoint to "imputer_gen/model-0007.params"
2023-06-04 23:39:33,058 [INFO]  Epoch[7] Validation-cross-entropy=0.336582
2023-06-04 23:39:33,059 [INFO]  Epoch[7] Validation-gender-accuracy=0.894643
2023-06-04 23:39:35,333 [INFO]  Epoch[8] Batch [0-320]	Speed: 2260.27 samples/sec	cross-entropy=0.306644	gender-accuracy=0.909073
2023-06-04 23:39:37,596 [INFO]  Epoch[8] Train-cross-entropy=0.313909
2023-06-04 23:39:37,596 [INFO]  Epoch[8] Train-gender-accuracy=0.903854
2023-06-04 23:39:37,597 [INFO]  Epoch[8] Time cost=4.538
2023-06-04 23:39:37,602 [INFO]  Saved checkpoint to "imputer_gen/model-0008.params"
2023-06-04 23:39:38,023 [INFO]  Epoch[8] Validation-cross-entropy=0.336402
2023-06-04 23:39:38,024 [INFO]  Epoch[8] Validation-gender-accuracy=0.894643
2023-06-04 23:39:40,320 [INFO]  Epoch[9] Batch [0-320]	Speed: 2237.22 samples/sec	cross-entropy=0.306166	gender-accuracy=0.909073
2023-06-04 23:39:42,542 [INFO]  Epoch[9] Train-cross-entropy=0.313423
2023-06-04 23:39:42,543 [INFO]  Epoch[9] Train-gender-accuracy=0.903854
2023-06-04 23:39:42,543 [INFO]  Epoch[9] Time cost=4.518
2023-06-04 23:39:42,550 [INFO]  Saved checkpoint to "imputer_gen/model-0009.params"
2023-06-04 23:39:42,967 [INFO]  Epoch[9] Validation-cross-entropy=0.336345
2023-06-04 23:39:42,968 [INFO]  Epoch[9] Validation-gender-accuracy=0.894643
2023-06-04 23:39:45,225 [INFO]  Epoch[10] Batch [0-320]	Speed: 2277.30 samples/sec	cross-entropy=0.305743	gender-accuracy=0.909073
2023-06-04 23:39:47,385 [INFO]  Epoch[10] Train-cross-entropy=0.312997
2023-06-04 23:39:47,385 [INFO]  Epoch[10] Train-gender-accuracy=0.903854
2023-06-04 23:39:47,386 [INFO]  Epoch[10] Time cost=4.418
2023-06-04 23:39:47,391 [INFO]  Saved checkpoint to "imputer_gen/model-0010.params"
2023-06-04 23:39:47,794 [INFO]  Epoch[10] Validation-cross-entropy=0.336301
2023-06-04 23:39:47,795 [INFO]  Epoch[10] Validation-gender-accuracy=0.894643
2023-06-04 23:39:49,966 [INFO]  Epoch[11] Batch [0-320]	Speed: 2367.73 samples/sec	cross-entropy=0.305354	gender-accuracy=0.909073
2023-06-04 23:39:52,117 [INFO]  Epoch[11] Train-cross-entropy=0.312605
2023-06-04 23:39:52,118 [INFO]  Epoch[11] Train-gender-accuracy=0.903854
2023-06-04 23:39:52,118 [INFO]  Epoch[11] Time cost=4.323
2023-06-04 23:39:52,123 [INFO]  Saved checkpoint to "imputer_gen/model-0011.params"
2023-06-04 23:39:52,530 [INFO]  Epoch[11] Validation-cross-entropy=0.336302
2023-06-04 23:39:52,531 [INFO]  Epoch[11] Validation-gender-accuracy=0.893750
2023-06-04 23:39:54,718 [INFO]  Epoch[12] Batch [0-320]	Speed: 2349.83 samples/sec	cross-entropy=0.305049	gender-accuracy=0.909073
2023-06-04 23:39:56,980 [INFO]  Epoch[12] Train-cross-entropy=0.312422

2023-06-04 23:39:56,981 [INFO]  Epoch[12] Train-gender-accuracy=0.903854
2023-06-04 23:39:56,982 [INFO]  Epoch[12] Time cost=4.451
2023-06-04 23:39:56,991 [INFO]  Saved checkpoint to "imputer_gen/model-0012.params"
2023-06-04 23:39:57,477 [INFO]  Epoch[12] Validation-cross-entropy=0.336581
2023-06-04 23:39:57,478 [INFO]  Epoch[12] Validation-gender-accuracy=0.893750
2023-06-04 23:40:00,071 [INFO]  Epoch[13] Batch [0-320]	Speed: 1988.64 samples/sec	cross-entropy=0.304951	gender-accuracy=0.909073
2023-06-04 23:40:02,355 [INFO]  Epoch[13] Train-cross-entropy=0.312128
2023-06-04 23:40:02,356 [INFO]  Epoch[13] Train-gender-accuracy=0.903854
2023-06-04 23:40:02,357 [INFO]  Epoch[13] Time cost=4.877
2023-06-04 23:40:02,363 [INFO]  Saved checkpoint to "imputer_gen/model-0013.params"
2023-06-04 23:40:02,766 [INFO]  Epoch[13] Validation-cross-entropy=0.336413
2023-06-04 23:40:02,766 [INFO]  Epoch[13] Validation-gender-accuracy=0.893750
2023-06-04 23:40:05,006 [INFO]  Epoch[14] Batch [0-320]	Speed: 2293.92 samples/sec	cross-entropy=0.304525	gender-accuracy=0.909073
2023-06-04 23:40:07,266 [INFO]  Epoch[14] Train-cross-entropy=0.311756
2023-06-04 23:40:07,267 [INFO]  Epoch[14] Train-gender-accuracy=0.903854
2023-06-04 23:40:07,267 [INFO]  Epoch[14] Time cost=4.501
2023-06-04 23:40:07,273 [INFO]  Saved checkpoint to "imputer_gen/model-0014.params"
2023-06-04 23:40:07,677 [INFO]  Epoch[14] Validation-cross-entropy=0.336404
2023-06-04 23:40:07,678 [INFO]  Epoch[14] Validation-gender-accuracy=0.893750
2023-06-04 23:40:09,899 [INFO]  Epoch[15] Batch [0-320]	Speed: 2314.73 samples/sec	cross-entropy=0.304293	gender-accuracy=0.909073
2023-06-04 23:40:12,113 [INFO]  Epoch[15] Train-cross-entropy=0.311522
2023-06-04 23:40:12,114 [INFO]  Epoch[15] Train-gender-accuracy=0.903854
2023-06-04 23:40:12,115 [INFO]  Epoch[15] Time cost=4.436
2023-06-04 23:40:12,121 [INFO]  Saved checkpoint to "imputer_gen/model-0015.params"
2023-06-04 23:40:12,544 [INFO]  No improvement detected for 5 epochs compared to 0.33630060223596436 last error obtained: 0.3363901429942676, stopping here
2023-06-04 23:40:12,544 [INFO]
========== done (77.84223794937134 s) fit model
/Users/ronaldlam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ronaldlam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/Users/ronaldlam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ronaldlam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/Users/ronaldlam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/Users/ronaldlam/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## Test set

In [14]:
# Impute missing values and return original dataframe with predictions
pred_gen_test = imputer_gen.predict(df_test_missing)
pred_major_test = imputer_major.predict(df_test_missing)
pred_comp_size_test = imputer_comp_size.predict(df_test_missing)
pred_comp_type_test = imputer_comp_type.predict(df_test_missing)

In [15]:
pred_gen_test.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target', 'gender_imputed',
       'gender_imputed_proba'],
      dtype='object')

### 'gender' predictions

In [16]:
# Drop unneccessary columns
pred_gen_test_df = pred_gen_test.drop(columns=['city', 
                                               'city_development_index',
                                               'relevent_experience', 
                                               'enrolled_university', 
                                               'education_level',
                                               'major_discipline', 
                                               'experience', 
                                               'company_size', 
                                               'company_type',
                                               'last_new_job', 
                                               'training_hours', 
                                               'target'
                                              ])

In [21]:
acc_gen_test = pred_gen_test_df.loc[pred_gen_test_df['gender_imputed_proba'] < 0.5]

In [22]:
len(acc_gen_test)

1

In [23]:
acc_gen_test

       enrollee_id gender gender_imputed  gender_imputed_proba
18475      29661.0   Male           Male              0.491256

In [24]:
# 'gender' accuracy
gender_test_acc = pred_gen_test_df['gender_imputed_proba'].mean()
print(f"Accuracy result: {gender_test_acc}")

Accuracy result: 0.8747291980783917

### 'major_discipline' predictions

In [25]:
# Drop unneccessary columns
pred_major_test_df = pred_major_test.drop(columns=['city', 
                                                   'city_development_index',
                                                   'gender',
                                                   'relevent_experience', 
                                                   'enrolled_university', 
                                                   'education_level',
                                                   'experience', 
                                                   'company_size', 
                                                   'company_type',
                                                   'last_new_job', 
                                                   'training_hours', 
                                                   'target'
                                                  ])

In [26]:
# 'major_discipline' accuracy
major_test_acc = pred_major_test_df['major_discipline_imputed_proba'].mean()
print(f"Accuracy result: {major_test_acc}")

Accuracy result: 0.8758431662045738

### 'company_size' predictions

In [27]:
# Drop unneccessary columns
pred_comp_size_test_df = pred_comp_size_test.drop(columns=['city', 
                                                           'city_development_index',
                                                           'gender',
                                                           'relevent_experience', 
                                                           'enrolled_university', 
                                                           'education_level',
                                                           'major_discipline', 
                                                           'experience',  
                                                           'company_type',
                                                           'last_new_job', 
                                                           'training_hours', 
                                                           'target'
                                                          ])

In [28]:
# 'company_size' accuracy
comp_size_test_acc = pred_comp_size_test_df['company_size_imputed_proba'].mean()
print(f"Accuracy result: {comp_size_test_acc}")

Accuracy result: 0.9244164989962305

### 'company_type' predictions

In [29]:
# Drop unneccessary columns
pred_comp_type_test_df = pred_comp_type_test.drop(columns=['city', 
                                                           'city_development_index',
                                                           'gender',
                                                           'relevent_experience', 
                                                           'enrolled_university', 
                                                           'education_level',
                                                           'major_discipline', 
                                                           'experience', 
                                                           'company_size', 
                                                           'last_new_job', 
                                                           'training_hours', 
                                                           'target'
                                                          ])

In [30]:
# 'company_type' accuracy
comp_type_test_acc = pred_comp_type_test_df['company_type_imputed_proba'].mean()
print(f"Accuracy result: {comp_type_test_acc}")

Accuracy result: 0.7398284066847005

## Make predictions on 'dropped_df'

In [31]:
pred_gen = imputer_gen.predict(dropped_df)
pred_major = imputer_major.predict(dropped_df)
pred_comp_size = imputer_comp_size.predict(dropped_df)
pred_comp_type = imputer_comp_type.predict(dropped_df)

### 'gender' predictions

In [32]:
pred_gen_df = pred_gen.drop(columns=['city', 
                                     'city_development_index',
                                     'relevent_experience', 
                                     'enrolled_university', 
                                     'education_level',
                                     'major_discipline', 
                                     'experience', 
                                     'company_size', 
                                     'company_type',
                                     'last_new_job', 
                                     'training_hours', 
                                     'target'
                                    ])

In [33]:
# 'gender' accuracy
gender_acc = pred_gen_df['gender_imputed_proba'].mean()
print(f"Accuracy result: {gender_acc}")

Accuracy result: 0.8809669889493961

### 'major_discipline' predictions

In [34]:
pred_major_df = pred_major.drop(columns=['city', 
                                         'city_development_index',
                                         'gender',
                                         'relevent_experience', 
                                         'enrolled_university', 
                                         'education_level', 
                                         'experience', 
                                         'company_size', 
                                         'company_type',
                                         'last_new_job', 
                                         'training_hours', 
                                         'target'
                                        ])

In [35]:
# 'major_discipline' accuracy
major_acc = pred_major_df['major_discipline_imputed_proba'].mean()
print(f"Accuracy result: {major_acc}")

Accuracy result: 0.8868143511864722

### 'company_size' predictions

In [36]:
pred_comp_size_df = pred_comp_size.drop(columns=['city', 
                                                 'city_development_index',
                                                 'gender',
                                                 'relevent_experience', 
                                                 'enrolled_university', 
                                                 'education_level',
                                                 'major_discipline', 
                                                 'experience',  
                                                 'company_type',
                                                 'last_new_job', 
                                                 'training_hours', 
                                                 'target'
                                                ])

In [37]:
# 'company_size' accuracy
comp_size_acc = pred_comp_size_df['company_size_imputed_proba'].mean()
print(f"Accuracy result: {comp_size_acc}")

Accuracy result: 0.9547487745654826

### 'company_type' predictions

In [38]:
pred_comp_type_df = pred_comp_type.drop(columns=['city', 
                                                 'city_development_index',
                                                 'gender',
                                                 'relevent_experience', 
                                                 'enrolled_university', 
                                                 'education_level',
                                                 'major_discipline', 
                                                 'experience', 
                                                 'company_size', 
                                                 'last_new_job', 
                                                 'training_hours', 
                                                 'target'
                                                ])

In [39]:
# 'company_type' accuracy
comp_type_acc = pred_comp_type_df['company_type_imputed_proba'].mean()
print(f"Accuracy result: {comp_type_acc}")

Accuracy result: 0.7568371378508223

In [40]:
len(pred_comp_type_df)

18014

In [41]:
df1 = pred_comp_type_df.loc[pred_comp_type_df['company_type_imputed_proba'] < 0.8]
df1

,enrollee_id,company_type,company_type_imputed,company_type_imputed_proba
0,8949,NaN,Pvt Ltd,0.762542
2,11561,NaN,Pvt Ltd,0.783902
6,28806,Funded Startup,Pvt Ltd,0.712778
7,402,Pvt Ltd,Pvt Ltd,0.678497
8,27107,Pvt Ltd,Pvt Ltd,0.553160
...,...,...,...,...
19151,11385,NaN,Public Sector,0.474985
19152,29754,Funded Startup,Pvt Ltd,0.477216
19153,7386,NaN,Pvt Ltd,0.695505
19154,31398,NaN,Pvt Ltd,0.783310
19155,24576,Pvt Ltd,Pvt Ltd,0.730423

In [42]:
# Merge 'dropped_df' with predicted dataframes pred_gen, pred_major, pred_comp_size, pred_comp_type 
merge_df = dropped_df.merge(pred_gen_df, on='enrollee_id')
merge_2_df = merge_df.merge(pred_major_df, on='enrollee_id')
merge_3_df = merge_2_df.merge(pred_comp_size_df, on='enrollee_id')
merge_4_df = merge_3_df.merge(pred_comp_type_df, on='enrollee_id')

In [43]:
merge_4_df.columns.tolist()

['enrollee_id',
 'city',
 'city_development_index',
 'gender_x',
 'relevent_experience',
 'enrolled_university',
 'education_level',
 'major_discipline_x',
 'experience',
 'company_size_x',
 'company_type_x',
 'last_new_job',
 'training_hours',
 'target',
 'gender_y',
 'gender_imputed',
 'gender_imputed_proba',
 'major_discipline_y',
 'major_discipline_imputed',
 'major_discipline_imputed_proba',
 'company_size_y',
 'company_size_imputed',
 'company_size_imputed_proba',
 'company_type_y',
 'company_type_imputed',
 'company_type_imputed_proba']

In [44]:
dropped_merge_4_df = merge_4_df.drop(columns=['gender_y',
                                              'gender_imputed_proba',
                                              'major_discipline_y',
                                              'major_discipline_imputed_proba',
                                              'company_size_y',
                                              'company_size_imputed_proba',
                                              'company_type_y',
                                              'company_type_imputed_proba'
                                             ])

In [45]:
dropped_merge_4_df.columns.tolist()

['enrollee_id',
 'city',
 'city_development_index',
 'gender_x',
 'relevent_experience',
 'enrolled_university',
 'education_level',
 'major_discipline_x',
 'experience',
 'company_size_x',
 'company_type_x',
 'last_new_job',
 'training_hours',
 'target',
 'gender_imputed',
 'major_discipline_imputed',
 'company_size_imputed',
 'company_type_imputed']

In [46]:
rename_cols = {'gender_x' : 'gender',
               'major_discipline_x' : 'major_discipline',
               'company_size_x' : 'company_size',
               'company_type_x' : 'company_type'
              }

renamed_merge_4_df = dropped_merge_4_df.rename(columns=rename_cols)

In [47]:
renamed_merge_4_df.columns.tolist()

['enrollee_id',
 'city',
 'city_development_index',
 'gender',
 'relevent_experience',
 'enrolled_university',
 'education_level',
 'major_discipline',
 'experience',
 'company_size',
 'company_type',
 'last_new_job',
 'training_hours',
 'target',
 'gender_imputed',
 'major_discipline_imputed',
 'company_size_imputed',
 'company_type_imputed']

In [48]:
print(renamed_merge_4_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18014 entries, 0 to 18013
Data columns (total 18 columns):
enrollee_id                 18014 non-null int64
city                        18014 non-null object
city_development_index      18014 non-null float64
gender                      14151 non-null object
relevent_experience         18014 non-null object
enrolled_university         18014 non-null object
education_level             18014 non-null object
major_discipline            15792 non-null object
experience                  18014 non-null object
company_size                12704 non-null object
company_type                12538 non-null object
last_new_job                18014 non-null object
training_hours              18014 non-null int64
target                      18014 non-null float64
gender_imputed              18014 non-null object
major_discipline_imputed    18014 non-null object
company_size_imputed        18014 non-null object
company_type_imputed        18014 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 2.6+ MB
None

In [49]:
# Fill nan values with predicted from imputed columns
renamed_merge_4_df['gender'] = renamed_merge_4_df['gender'].fillna(renamed_merge_4_df['gender_imputed'])
renamed_merge_4_df['major_discipline'] = renamed_merge_4_df['major_discipline'].fillna(renamed_merge_4_df['major_discipline_imputed'])
renamed_merge_4_df['company_size'] = renamed_merge_4_df['company_size'].fillna(renamed_merge_4_df['company_size_imputed'])
renamed_merge_4_df['company_type'] = renamed_merge_4_df['company_type'].fillna(renamed_merge_4_df['company_type_imputed'])

In [50]:
# Check nan values are filled
print(renamed_merge_4_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18014 entries, 0 to 18013
Data columns (total 18 columns):
enrollee_id                 18014 non-null int64
city                        18014 non-null object
city_development_index      18014 non-null float64
gender                      18014 non-null object
relevent_experience         18014 non-null object
enrolled_university         18014 non-null object
education_level             18014 non-null object
major_discipline            18014 non-null object
experience                  18014 non-null object
company_size                18014 non-null object
company_type                18014 non-null object
last_new_job                18014 non-null object
training_hours              18014 non-null int64
target                      18014 non-null float64
gender_imputed              18014 non-null object
major_discipline_imputed    18014 non-null object
company_size_imputed        18014 non-null object
company_type_imputed        18014 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 2.6+ MB
None

In [51]:
# Drop imputed columns
cleaned_df = renamed_merge_4_df.drop(columns=[
    'gender_imputed',
    'major_discipline_imputed',
    'company_size_imputed',
    'company_type_imputed'
])

In [52]:
# Check columns have been dropped
cleaned_df.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target'],
      dtype='object')

In [53]:
print(cleaned_df.isnull().sum())

enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
target                    0
dtype: int64

In [54]:
# Export the cleaned_df as a CSV file
cleaned_df.to_csv("resources/hr_job_change.csv", index=False)